$mobile-screen: 375px;


.creations__cont{
    display: flex;
    margin: 5px;
    flex-direction: column;
    align-items: center;
    &-boton
    {
        display: none;
        @media screen and (max-width: 1024px)
        {
            display: block;
            width: 9rem;
            height: 3rem;
            background-color: white;
            border-radius: 3px;
            margin-top: 2rem;
            margin-bottom: 3rem;
            &:hover{
                cursor: pointer;
                background-color: hsl(0, 0%, 55%);
                color: white;
                
            }
        }
    }
}
.creations__title{
    display: flex;
    width: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h1 {
        display: flex;
        font-family:'Montserrat', sans-serif;
        font-weight: 100;
    }
    &_button{
        
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        font-weight: 700;
        color: hsl(0, 0%, 55%);
        margin-left: 0.5rem;
    }
    button{
        color: black; 
        background-color: white;
        width: 5rem;
        height: 2rem;
        border-radius: 5px;   
    }

    button:hover{
        cursor: pointer;
        background-color:  hsl(0, 0%, 55%);
        color: white;
    }
    @media screen and (max-width: 1024px)
    {
        display: block;
        width: 100%;
        h1 {
            display: flex;
            justify-content: center;
            text-align: center;   
            margin-top: 4rem;
            margin-bottom: 2rem;
        }
        
        button{
            display: none;
            
        }

    }
}
.creations__images{
    
    display: grid;
    grid-template-columns: repeat(4, 0.2fr);
    grid-gap: 10px;
    position: relative;
    text-align: center;
    img:hover{
        cursor: pointer;
        color: hsl(0, 0%, 55%);
        transition: filter 0.3s; /* Agregar transición para una animación suave */
        filter: grayscale(100%);/* Invertir los colores de la imagen al pasar el ratón */
    }
    &_item{
        
        position: relative;
        display: inline-block;
        p{
            position: absolute;
            top: 70%;
            left: 10%;
            color: white;
            font-size: 30px;
            @media screen and (max-width: 1024px)
            {
                width: 45%;
                top: 10%;
                left: 3%;
                font-size: 30px;
            }
        }
        

    }
    .mobile-image{
        display: none;
    }
        /*Media para Movil*/
    @media screen and (max-width: 1024px)
    {
        grid-template-columns: repeat(1, 0.2fr);
        grid-gap: 5px;
        .desktop-image{
            display: none;
        }
        .mobile-image{
            display: block;
            margin-bottom: 1rem;
            width: 85vw;
        }
        
    }

}


