$mobile-screen: 375px;


.creations__cont{
    display: flex;
    margin: 5px;
    flex-direction: column;
    align-items: center;
}
.creations__title{
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &_tittle{
        display: flex;
    }
    &_button{
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        font-weight: 700;
        color: hsl(0, 0%, 55%);
        margin-left: 0.5rem;
    }
    button{
        background-color: black;
        color: white;    
    }
}
.creations__images{
    display: grid;
    grid-template-columns: repeat(4, 0.2fr);
    grid-gap: 10px;
    position: relative;
    text-align: center;
    img:hover{
        cursor: pointer;
        color: hsl(0, 0%, 55%);
        transition: filter 0.3s; /* Agregar transición para una animación suave */
        filter: grayscale(100%);/* Invertir los colores de la imagen al pasar el ratón */
    }
    &_item{
        position: relative;
        display: inline-block;
        p{
            position: absolute;
            top: 70%;
            left: 10%;
            color: white;
            font-size: 30px;
        }
        

    }
    .mobile-image{
        display: none;
    }
        /*Media para Movil*/
    @media screen and (max-width: 1024px)
    {
        grid-template-columns: repeat(1, 0.2fr);
        grid-gap: 5px;
        .desktop-image{
            display: none;
        }
        .mobile-image{
            display: block;
        }
    }

}


