.header{
    height: 65vh;
    width: 100%;
    background-image: url('../../assets/images/desktop/image-hero.jpg');
    background-size: 100% 100%;
    
    /*Media para Movil*/
    @media screen and (max-width: 1024px)
    {
        height: 70vh;
        background-image: url('../../assets/images/mobile/image-hero.jpg');
    }
    
}